{% extends "base.html" %}

{% block content %}
<h2>{{ project.title }}</h2>
<form action="{{ url_for('views.add_column', project_id=project.id) }}" method="post">
    <label for="column_title">Add Column:</label>
    <input type="text" id="column_title" name="column_title">
    <input type="submit" value="Add Column">
</form>

{% for column in project.columns %}
<div class="column" id="column-{{ column.id }}">
    <h3>{{ column.title }}</h3>
    <!-- Add tasks to column -->
    <form action="{{ url_for('views.add_task', column_id=column.id) }}" method="post">
        <input type="text" name="task_title" placeholder="Task title">
        <input type="submit" value="Add Task">
    </form>
    <ul>
        {% for task in column.tasks %}
        <li class="kanban-task" data-task-id="{{ task.id }}">
            <!-- Link to task detail page -->
            <a href="{{ url_for('views.get_task', task_id=task.id) }}">{{ task.title }}</a>
            <!-- End of link -->
            
            <!-- Links for editing and deleting tasks -->
            <a href="{{ url_for('views.edit_task', task_id=task.id) }}">Edit</a>
            <a href="{{ url_for('views.delete_task', task_id=task.id) }}" onclick="return confirm('Are you sure you want to delete this task?');">Delete</a>
        </li>
        {% endfor %}
    </ul>
    <!-- Buttons for editing and deleting columns -->
    <a href="{{ url_for('views.edit_column', column_id=column.id) }}">Edit Column</a>
    <a href="{{ url_for('views.delete_column', column_id=column.id) }}" onclick="return confirm('Are you sure you want to delete this column? All tasks in it will also be deleted.');">Delete Column</a>
</div>
{% endfor %}

<a href="{{ url_for('views.projects') }}">Back to Projects</a>
<a href="{{ url_for('views.delete_project', project_id=project.id) }}" 
   onclick="return confirm('Are you sure you want to delete this project? All columns and tasks in it will also be deleted.');">
   Delete Project</a>
<a href="{{ url_for('views.edit_project', project_id=project.id) }}">Edit Project</a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
<script>
    var columns = document.querySelectorAll('.column');

    columns.forEach(function (column) {
        new Sortable(column.querySelector('ul'), {
            group: 'shared',
            animation: 150,
            onEnd: function (evt) {
                var taskId = evt.item.dataset.taskId;
                var newColumnId = evt.to.id.split('-')[1]; // Assuming the id format is "column-<id>"

                fetch('/move-task', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'task_id=' + taskId + '&new_column_id=' + newColumnId
                })
                .then(response => response.json())
                .then(data => {
                    if (!data.success) {
                        alert('Error moving task: ' + data.message);
                    }
                });
            }
        });
    });
</script>
{% endblock %}
